<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452379355355-claknsllrum0sd8gphn6e7q12b61hlda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452379355355-claknsllrum0sd8gphn6e7q12b61hlda</string>
	<key>API_KEY</key>
	<string>AIzaSyAaFribuaJKUPeUfVX0b5DYUs1mhXsntxE</string>
	<key>GCM_SENDER_ID</key>
	<string>452379355355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dbms03flutterfirebase</string>
	<key>PROJECT_ID</key>
	<string>dummy-3ace3</string>
	<key>STORAGE_BUCKET</key>
	<string>dummy-3ace3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452379355355:ios:855dcd1d7fa526111584fe</string>
</dict>
</plist>